<%= simple_form_for [ @discipline, @discipline.questions.update(params[:discipline_id],
 { content: @question.content }) ] do |f| %>
  <p><%= f.input :content %></p>
  <p><%= f.button :submit %></p>
<% end %>