<h1>Lists</h1>
<% @lists.each do |list| %>
  <% examination = examination_by_id(list.examination_id) %>
  <% group = group_by_id(examination.group_id) %>
  <% discipline = discipline_by_id(examination.discipline_id) %>
  <%= group.name %>
  <%= discipline.title %>
  <%= examination.date %>
<% end %>

<p><%= link_to 'new', new_list_path %></p>