<table>
    <tr>
      <% @number_student = student.number if @number_student.nil? %>
      <td><%= @number_student %></td>
      <% @number_student = nil %> <!-- какой же грёбаный ужас -->
      <td><%= student.full_name  %></td>
      <td><%= link_to 'delete', [student.group, student],
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
</table>