<% counter_students = 1 %>
<table>
  <tr>
    <th>№</th>
    <th>FIO</th>
  </tr>
</table>
<% @students.each do |student| %>
  <% @number_student = counter_students %>
  <%= render student %>
  <% counter_students += 1 %>
<% end %>

<%= link_to 'New students', new_student_path %>