@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.header-menu {
  margin-top: 7px;
  list-style: none;
  text-align: center;
}
.header-menu li {display: inline-block;}
.header-menu li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.header-menu li:nth-last-child(2):after {content: none;}
.header-menu a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.header-menu a, .header-menu a:visited {color: #9d999d;}
.header-menu a.current, .header-menu a:hover{color: #feb386;}
.header-menu a:before,
.header-menu a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: rgb(184, 183, 183);
  transition: .8s;
}
.header-menu a:hover:before, .header-menu .current:before {left: 0;}
.header-menu a:hover:after, .header-menu .current:after {right: 0;}   
@media (max-width: 550px) {
  .header-menu {padding-top: 0;}
  .header-menu li {display: block;}
  .header-menu li:after {content: none;}
  .header-menu a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
}

a:hover {
  background-color: transparent;
}

.header-sign {
  float: right;
}

.alert {
  color: red;
}

.notice {
  color: green;
}

.header-username {
  float: right;
  margin-right: 7px;
  font-size: 15px;
}