<% @group.students.each do |student| %>
    <p><%= student.full_name %></p>
    <% random_questions.each_with_index do |question, i| %>
      <p><%= "#{i + 1}: #{question}" %></p>
    <% end %>
    <br>
<% end %>